* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #000; /* lepsze tło */
  overflow-x: hidden;
}
.table-transparent {
  background-color: transparent !important;
}

.table-transparent tbody tr,
.table-transparent thead tr {
  background-color: transparent !important;
}

.table-transparent td,
.table-transparent th {
  background-color: transparent !important;
  color: #9deaff !important; /* twój kolor */
  border-color: rgba(157, 234, 255, 0.15) !important; /* delikatne linie */
}
